#my2sec-api-buttons{
}



#update_status{
	font-family: Arial, Helvetica, sans-serif;
}
#ready_status{

}
#success_status{
	background:rgb(9, 225, 9);
	display: flex;
	align-items: center;
	padding: 0.2%;
	color:white;
	border-radius: 8px;
	font-family: Arial, Helvetica, sans-serif;
}
#error_status{
	background:red;
	border-radius: 15px;
	font-family: Arial, Helvetica, sans-serif;
}


/*-----------------------------------------------------------------------------------------------*/
/*VALIDATION PANEL*/
#validation_obscurer{
	position: absolute;
	width: 100%;
	height: 96vh;
	opacity: 0.85;
	background: white;
	z-index: 100;
}
#validation_wrapper{
	border-style: solid;
	border-width: 0px;
	position: absolute;
	padding:0.75%;
	width: 93%;
	height: 85vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 2px 2px 6px rgb(37, 37, 37);
	z-index: 150;
	border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
	background: white;

}
	#close-panel{
		position:absolute;
		width:100%;
		display:flex;
		justify-content: right;
	}
		#close-panel button{
			border-radius:50%;
			transform:translate(-20px,-10px);
			
		}
	#validation_sections{
		font-size: 20px;
		color:white;
		display: flex;
		justify-content: space-around;
	}
		.validation_section{
			width: 30%;
			background: var(--gianlu_dark_blue);
			text-align: center;
			padding:0.35%;
			border-radius: 10px;
		}
		.validation_section-selected{
			width: 30%;
			background: var(--gianlu_blue);
			box-shadow: 3px 3px 5px var(--gianlu_dark_blue);
			text-align: center;
			padding:0.35%;
			border-radius: 10px;
		}
	#validation_info_panel{
		padding: 0.3%;
		width: 80%;
		margin:auto;
		box-shadow: 1.5px 1.5px 3px grey;
		border-radius: 10px;
	}
	#validation_selection_buttons{
		margin-left:0;
	}
	#validation_body{
		width:99%;
		padding: 0.5%;
		background: white;
		height: 82%;
		overflow: scroll;
		border-style: solid;
		border-width: 1px;
	}
	#validation_input{
		/*position:absolute;*/
		width: 100%;
		display:flex;
		justify-content: center;
		/*background: red;
		bottom:15px;*/
	}